<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="css/style.css")
        title Document
    body
     .header
      .header__container
       .nav
        .nav__container
         .mobile__menu__container
          a.nav__hamburger.hamburger(src="#")
           img.hamburger__icon(src="./img/icons/burger.png", alt="")
         .lang-and-social-container
          .lang__container
           p.lang__choice rus/eng
          a.social-vk(href="https://vk.com/sverdlovsk_film_studios")
           img.vk__icon(src="./img/icons/Vk.png", alt="vk-icon")
          a.social-face(href="#")
           img.facebook__icon(src="./img/icons/Fb.png", alt="facebook-icon")
          a.social-inst(href="#")
           img.inst__icon(src="./img/icons/Inst.png", alt="instagram-icon")
          a.social-you(href="#")
           img.youtube__icon(src="./img/icons/YT.png", alt="youtube-icon") 
       .slider
        .slider__container
         .slider__item.active
          img(src="./img/slider-img/varvara.png", alt="Варвара")
         .slider__item.hide
          img(src="./img/slider-img/buran.png", alt="Буран")
         .slider__item.hide
          img(src="./img/slider-img/zabeg.png", alt="Забег")
         .slider__item.hide
          img(src="./img/slider-img/bg1.png", alt="фон1")       
      